<nz-table #basicTable [nzData]="quotes">
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Country</th>
      <th>City</th>
      <th>Mode</th>
      <th>Movement Type</th>
      <th>Incoterm</th>
      <th>Package Type</th>
      <th>Original Currency & Amount</th>
      <th>Converted Currency & Amount</th>
      <th>Created Date</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let quote of basicTable.data">
      <td>{{ quote.id }}</td>
      <td>{{ quote.userId }}</td>
      <td>{{ quote.country }}</td>
      <td>{{ quote.city }}</td>

      <td>{{ quote.mode | enumLabel : Mode }}</td>
      <td>{{ quote.movementType | enumLabel : MovementType }}</td>
      <td>{{ quote.incoterms | enumLabel : Incoterm }}</td>
      <td>{{ quote.packageType | enumLabel : PackageType }}</td>

      <td>
        {{ quote.fromCurrency | enumLabel : CurrencyType }}
        {{ quote.originalAmount }}
      </td>
      <td>
        {{ quote.toCurrency | enumLabel : CurrencyType }}
        {{ quote.convertedAmount }}
      </td>
      <td>{{ quote.createdAt | date}}</td>
    </tr>
  </tbody>
</nz-table>
