<!-- header.component.html -->
<header class="header">
  <div class="header-content">
    <a routerLink="/" class="nav-link">
      <h1>FORCEGET SOFTWARE</h1>
    </a>

    <nav class="nav">
      <a routerLink="/quotes/form" class="nav-link">Quote Form</a>
      <a routerLink="/quotes/list" class="nav-link">Quote List</a>
      <div class="auth-buttons" *ngIf="!isLoggedIn">
        <a routerLink="/login" class="auth-button">Login</a>
        <a routerLink="/register" class="auth-button register">Register</a>
      </div>
      <div class="user-info" *ngIf="isLoggedIn">
        <span>Welcome, {{ userEmail }}</span>
        <button nz-button nzType="primary" (click)="logout()">Logout</button>
      </div>
    </nav>
  </div>
</header>
